@font-face {
  font-family: 'Inter';
  src: url('font\inter.ttf');
}

/* Navigasi */
.nav-link:hover {
  color: #19345e;
}

.nav-link {
  font-weight: 500;
}

.navigasi {
  margin-left: 332px;
  position: absolute;
  margin-top: 26px;
  margin-bottom: 28px;
}

/* Card */

.frame-1 {
  margin-top: 134px;
  margin-bottom: 145px;
  margin-left: 111px;
  margin-right: 111px;
}

.group-1 {
  font-family: 'Inter', sans-serif;
}

.judul {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 0px;
  color: #19345e;
  width: 999px;
}

.deskripsi {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 36px;
  width: 930px;
}

.tombol-1 {
  margin-top: 36px;
  padding: 15px 25px;
  background-color: #19345e;
  border-radius: 0;
  color: aliceblue;
}

.tombol-1:hover {
  background-color: #19345e;
  color: aliceblue;
}

/* Count */
.frame-2 {
  margin-top: 71px;
  margin-bottom: 64px;
  margin-left: 163px;
  margin-right: 163px;
}

.group-2 {
  font-family: 'Inter', sans-serif;
}

.judul-2 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.deskripsi-2 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 55px;
}

.nomer {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
}
.teks-5 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

/* Headline */
.frame-3 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 121px;
  margin-right: 121px;
}

.foto {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: #19345e;
}

.teks-6 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 85%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  opacity: 1;
}

.judul-3 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #19345e;
  width: 635px;
}

.deskripsi-6 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  width: 660px;
}

.icon-play {
  border: 2px #19345e solid;
  border-radius: 50%;
  padding: 10px;
  width: 48px;
  height: 48px;
}

/* Feature */
.frame-4 {
  margin-top: 127px;
  margin-bottom: 128px;
  margin-left: 120px;
  margin-right: 121px;
}

.gambar-1 {
  width: 44px;
  margin-bottom: 16px;
}

.judul-11 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
  color: #19345e;
}

.deskripsi-7 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}

.gambar-2 {
  width: 500px;
  margin-top: -770px;
  margin-left: 100px;
}

/* Leadership */
.frame-7 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 165px;
  margin-right: 165px;
}

.teks-7 {
  font-size: 24px;
  font-weight: 400;
  color: #19345e;
  margin-bottom: 24px;
}

.teks-8 {
  font-size: 42px;
  font-weight: 700;
  color: #19345e;
  width: 790px;
}

.panah {
  background-color: #e7ebfc;
  border-radius: 50%;
  width: 65px;
  padding: 15px;
}

.kotak {
  width: 330px;
  height: 350px;
  margin-bottom: 24px;
  background-color: #e7ebfc;
}

.nama {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #19345e;
}

.jabatan {
  font-size: 20px;
  font-weight: 500;
}

/* Works */
.frame-8 {
  margin-top: 69px;
  margin-bottom: 78px;
  margin-left: 181px;
  margin-right: 181px;
}

.judul-4 {
  font-size: 42px;
  font-weight: 700;
  color: #19345e;
  margin-bottom: 63px;
}

.gambar-3 {
  width: 204px;
  margin-bottom: 16px;
}

.judul-5 {
  font-size: 24px;
  font-weight: 700;
  color: #19345e;
  margin-bottom: 4px;
}

.deskripsi-8 {
  font-size: 16px;
  font-weight: 400;
}

/* Closing */
.frame-5 {
  margin-top: 103px;
  margin-left: 165px;
  margin-right: 165px;
  margin-bottom: 98px;
}

.judul-9 {
  font-size: 52px;
  font-weight: 700;
  color: #19345e;
  margin-bottom: 0px;
}

.deskripsi-4 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 24px;
  margin-bottom: 0px;
}

.tombol-3 {
  margin-top: 61px;
  margin-bottom: 0px;
  padding: 15px 25px;
  background-color: #19345e;
  border-radius: 0;
  color: aliceblue;
}

.tombol-3:hover {
  background-color: #19345e;
  color: aliceblue;
}

.line {
  border-top: 2px #b4b4b4 solid;
  width: 100%;
  margin-top: 61px;
}

/* Footer */
.frame-6 {
  margin-top: 39px;
  margin-left: 136px;
  margin-right: 136px;
  margin-bottom: 44px;
}

.judul-10 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 0px;
  margin-bottom: 6px;
}

.deskripsi-5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  width: 450px;
  margin-bottom: 17px;
}

.link-2 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.link-2:hover {
  color: #fff;
}

.nav-footer {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.nav-footer:hover {
  color: #fff;
}

.line-2 {
  border-top: 1px #fff solid;
  width: 100%;
  margin-top: 32px;
  opacity: 0.08;
}

.teks-footer {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
